@charset "UTF-8";

@font-face{
    font-family: 'nasa';
    src: url('../fonts/nasalization-rg.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body{
    height: 100vh;
 /*    padding: 0;
    margin: 0; */
    background-color: black;
    background-image: url(../img/back1.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

main{
    background-color: rgba(173, 216, 230, 0);
    padding: 20px;

    min-width: 320px;
    max-width: 900px;
    margin: auto;
}

.titulo{
    text-align: center;
}

.titulo h1{
    font-size: 6em;
    margin-top: 400px;
    margin-bottom: 0;
    font-family: 'nasa',Arial, Helvetica, sans-serif;
}

.titulo p{
    margin-top: -5px;
    font-size: 2em;
    margin-bottom: 400px;
}

.cont{
    text-align: center;
}

.text h2{
    font-size: 4em;
    font-family: 'nasa',Arial, Helvetica, sans-serif;
}

.text p{
    font-size: 1.8em;
}
/* ================================ */
.container{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.container h2{
    font-size: 4.8em;
    margin-bottom: 0px;
}

.container p{
    margin-top: 15px;
}

.container > p#mais{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
}

/* ================================ */

.indice{
    background-image: linear-gradient(to right, #504f99, #414085, #34337B, #1D1C61, #0B0A42);
    margin-top: 150px;
    padding: 10px;
    border-radius: 6px;
    line-height: 50px;

}

.indice > h2{
    margin-left: 30px;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'nasa',Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    text-align: center;

}

.indice > p{
    margin-top: 0;
    margin-left: 30px;
    font-weight: bold;
    text-align: center;
}

.indice > ul{
    height: 160px;
    columns: 2;
    font-size: 20px;
    margin-left: 150px; 
}

.voltar {
    font-size: 21px;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: rgb(190, 12, 12);
}

/* titulo estudar.html  */

h1#estudh1{
    margin-top: 325px;
}

p#estudp{
    margin-bottom: 350px;
}

/* faculdades */

h1.faculh1{
    font-family: 'nasa',Arial, Helvetica, sans-serif;
    font-size: 6em;
    text-align: center;
    margin-top: 150px;
}

h2.faculh2{
    text-align: center;
    font-size: 2.7em;
    margin-top: 120px;
    margin-bottom: 100px;
}





@media screen and (max-width: 824px){
    .titulo h1{
        font-size: 4.8em;
        margin-bottom: 0;
    }

    .titulo p{
        margin-top: -11px;
        font-size: 2em;
    }
    /* -================================= */

    .cont{
        text-align: center;
    }
    
    .text h2{
        font-size: 4em;
    }
    
    .text p{
        font-size: 2em;
    }
    
    .cont img{
        width: 100%;
    
    }
    /* ======================== */
    .indice{
        height: 400px;
    }
    .indice > h2{
        text-align: center;
    }
    .indice > ul{

        margin-left: 0px; 
    }
}

 
@media screen and (max-width: 682px){
    .par{
        font-size: 18px;
    }
    .indice{
        height: 450px;
    }

    .voltar{
        margin-bottom: 10px;
    }

    .indice > ul{
/*         height: 300px; */
        columns: 2;
        font-size: 16px;
    }
}

@media screen and (max-width: 571px){
    .indice ul{
        font-size: 15px;
    }
}

@media screen and (max-width: 544px){
    .indice{
        height: 600px;
    }
    .indice ul{
        height: 300px;
        columns: 1;
        font-size: 19px;
    }
}

@media screen and (max-width: 514px){
    .titulo h1{
        font-size: 4.4em;
    }
}

@media screen and (max-width: 438px){
    .titulo h1{
        font-size: 3.4em;
    }
    .indice ul{
        font-size: 18px;
        height: 350px;
    }
    .indice{
        height: 690px;
    }

    .voltar{
        font-size: 19px;
    }
}